<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <!-- 1. Exclude token.aspx from Proxy (Let IIS handle it) -->
                <rule name="SidecarAuth" stopProcessing="true">
                    <match url="token\.aspx" />
                    <action type="None" />
                </rule>

                <!-- 2. Proxy everything else to Node.js -->
                <rule name="ReverseProxyInboundRule1" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://127.0.0.1:3000/{R:1}" />
                </rule>
            </rules>
        </rewrite>
        
        <security>
            <authentication>
                <!-- Ensure Windows Auth is ON and Anonymous is OFF for token.aspx to work -->
                <anonymousAuthentication enabled="false" />
                <windowsAuthentication enabled="true" />
            </authentication>
        </security>
    </system.webServer>
</configuration>
